<h1 class="headGrp sub008">
    <span class="subjectNum"></span>
    <img class="hanjaImg">
    <span class="subjectName"></span>
</h1>
<span class="detailGrp sub001">
    <div class="detailName sub006"></div>
    <div class="subDetailGrp sub005">
        <div class="subDetailTopGrp">
            <span class="detailContJap sub007"></span>
            <button class="subDetailTtsBtn sub002 clickEv001">
                <i class="sub003"></i>
            </button>
        </div>
        <div class="detailContKor sub004"></div>
    </div>
</span>
