<style>

</style>
<div class="temp003-content">
  <audio controls>
    <source src="horse.mp3" type="audio/mpeg">
  </audio>

  <div class="temp003-words-out-frame">


    <div class="temp003-words-in-frame">
      <div class="temp003-words-ja-detail">
        自分の心に踏み込むのが怖い
      </div>
      <div class="temp003-words-ko-detail toggleView">
        내 마음속으로 파고드는 게 무섭다
      </div>
      <div class="temp003-word-ja">怖い（こわ）</div>
      <div class="temp003-word-ko toggleView">무섭다</div>
    </div>

    <div class="temp003-words-in-frame">

    </div>
  </div>
</div>
